.sellingPoints {
    display: inline-flex;
    width: 75%;
    padding: 30px;
}

#pointOne {
    width: 200px;
    height: 250px;
    background: #dadada;
    float: left;
    border-radius: 10%;
    box-shadow: 10px 10px 5px grey;
}

#pointTwo {
    width: 200px;
    height: 250px;
    background-color: #dadada;
    margin: auto;
    border-radius: 10%;
    box-shadow: 10px 10px 5px grey;
}

#pointThree {
    width: 200px;
    height: 250px;
    background-color: #dadada;
    float: right;
    border-radius: 10%;
    box-shadow: 10px 10px 5px grey;
}

#icons {
    margin-top: 15px;
    max-height: 50px;
    max-width: 50px;
}

#titel {
    font-weight: bold;
    font-size: 20px;
}