.info {
    display: inline-block;
    width: 100%;
}

#martha {
    border-radius: 50%;
    max-height: 150px;
    max-width: 150px;
    margin: auto;
    margin-right: 11vw

}

#martha2 {
    border-radius: 50%;
    max-height: 150px;
    max-width: 150px;
    float: left;
    margin-right: 11vw

}

#martha3 {
    border-radius: 50%;
    max-height: 150px;
    max-width: 150px;
    float: right;


}

#overMij {
    display: inline-block;
    width: 100%;
    height: 250px;
    background-image: url("dog7.jpg");
    /*background-color: #9e9999;*/
}

#photos {
    display: inline-flex;

}

#paginaText{
    color: white;
    font-size: 60px;
    margin-top: 5%;
 }

#mijnText {
    margin-top: 40px;
    margin-right: 60px;
    margin-bottom: 15vh;
}

#teamText {
    margin-top: 40px;

}

#functies{
    display: inline-flex;
    margin-top: 5px;
}

#teamlid {
    display: grid;
}

#name {
    text-align: start;
    margin-left: 12px;
    margin-bottom: -20px;
    margin-top: initial;
    font-size: 18px;
}

#position {
    text-align: start;
    margin-left: 42px;
    color: cornflowerblue;
    font-size: 13px;
}

#holder {
    width: 100%;
    height: 30%;
    background-color: #f2f2f2;
}

pre {
    font-family: Ubuntu;
}